#textdomain wesnoth-multiplayer

[modification]
    id=Battle_Royale_Item_Mod
    name=_"Battle Royale Item Mod"
    description=_"Enables the battle royale maps' item scatter/item drop mechanics in other maps/scenarios. By default only AI-controlled units drop items on death, but that can be changed in match options

Not balanced, doesn't stack with battle royale scenarios."
    require_modification=no
    type=hybrid
    [options]
        [choice]
            id=battleroyale_mod_item_drop_mode
            name=_"Item Drop mode"
            description=_"How often/easily items drop from kills."
            default=standard
            [item]
                name=_"Standard (intended for short scenarios):
lvl0 units have a 1/5 chance to drop common item
lvl1 drop common items, have a 1/5 chance to drop rare item
lvl2 drop rare items, have a 1/5 chance to drop legendary item
lvl3 and above drop legendary items
Bottomless Backpack drops items every 2 turns"
                value=standard
            [/item]
            [item]
                name=_"Modest (intended for long scenarios or short campaigns):
lvl0 units never drop items
lvl1 units have a 1/3 chance to drop common items
lvl2 drop common items, have a 1/3 chance to drop rare item
lvl3 drop rare items, have a 1/3 chance to drop legendary item
lvl4 and above drop legendary items
Bottomless Backpack drops items every 3 turns"
                value=modest
            [/item]
            [item]
                name=_"Rare (intended for medium to long campaigns):
lvl0 units never drop items
lvl1 units never drop items
lvl2 units have a 1/3 chance to drop common items
lvl3 drop common items, have a 1/3 chance to drop rare item
lvl4 drop rare items, have a 1/3 chance to drop legendary item
lvl5 and above drop legendary items
Bottomless Backpack drops items every 5 turns"
                value=rare
            [/item]
        [/choice]
        [checkbox]
            id=battleroyale_see_items_in_fog
            default=no
            name="Can see items in fog"
            description="If enabled, you will be able to see items through fog."
        [/checkbox]
        [checkbox]
            id=battleroyale_mod_ai_pickup
            default=no
            name="Can AI take items"
            description="If enabled, all AI units will be able to pick up items, just like human players, and will actively move to take them. Recommended to turn this off for survivals and other PvE matches, and recommended to turn it on for PvP with AI sides."
        [/checkbox]
        [checkbox]
            id=battleroyale_mod_ai_drop
            default=yes
            name="Only AI sides drop items"
            description="If enabled, only AI-controlled sides drop items on death. Recommended to be enabled for survivals/other PvE matches, recommended to be turned off for pvp matches"
        [/checkbox]
        [checkbox]
            id=battleroyale_mod_no_drop
            default=no
            name="Disable item drops from kills"
            description="Items do not drop from kills, leaving only the items that spawn at the start of the scenario."
        [/checkbox]
        [checkbox]
            id=battleroyale_item_mod_noscatter
            default=no
            name="Disable item scatter at start"
            description="If enabled, items aren't randomly scattered across the map at start, and the only way to get items is from killing enemies."
        [/checkbox]
        [checkbox]
            id=battleroyale_item_mod_disableportals
            default=yes
            name="Disable Portals"
            description="Disables the 'Portal' common item (that teleports units to a random tile). It is recommended to leave this enabled for custom scenarios since it can break some of them, but for normal maps you can just disable this option."
        [/checkbox]
        {BATTLE_ROYALE_SHARED_SETTINGS}
        [slider]
            id=battleroyale_item_mod_scatter_multiplier_percentage
            default=100
            min=20
            max=1000
            step=20
            name=_"Item scatter percentage"
            description=_"How many items scatter at the start of the map, in percents compared to how many items spawn in a 9p battle royale match."
        [/slider]

        [checkbox]
            id=battleroyale_item_mod_hardcoreifier_integration
            default=no
            name="Campaign Hardcoreifier Integration"
            description="Normally the item mod makes Campaign Hardcoreifier's high-level enemies drop too much loot per kill. With this option enabled, enemy level for loot will be calculated by this formula:

( (original level * 2) + new level ) / 3

So for example, an Orcish Grunt which was originally lvl1, when buffed to lvl4, is now treated as lvl2 for loot.
Or if a level 2 Orcish Warior was originally lvl2, buffed to lvl11, becomes treated as lvl5 for loot."
        [/checkbox]

    [/options]
    [event]
        name=prestart
        {VARIABLE battleroyale_noloot no}
        #variable to let the item code know it's being used outside a battle royale scenario
        {IF_VAR battle_royale_enemyside equals $emptyvar (
        [then]
            {VARIABLE battle_royale_item_mod yes}
        [/then]
        )}
    [/event]
    {BATTLE_ROYALE_ITEMSCATTER_EVENT}
    {BATTLE_ROYALE_ITEM_SPAWN_EVENTS}
    {BATTLE_ROYALE_ITEMDROP_EVENTS}
    {BATTLEROYALE_ITEM_EFFECT_EVENTS}
[/modification]
